@{
    ViewData["Title"] = "Home Page";
} 
<div class="text-center display-1">
    <form asp-action="ShowingUsername" asp-controller="Home">
    <input type="text" placeholder="Enter a username" name="Username" />
    <button>Send</button>
    </form>

</div>
